h1,
h2,
h3,
h4 {
  font-family: "Baloo Paaji 2", cursive;
}

p,
span,
li,
button {
  font-family: "Montserrat", sans-serif;
}

.search-bar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
  opacity: 1; /* Firefox */
}

.search-bar:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c3c3c3;
}

.search-bar::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c3c3c3;
}

.search-button {
  background-color: #000000;
  border-color: #000000;
}
.search-button:hover {
  background-color: #3b3b3b;
  border-color: #3b3b3b;
}

.recipes > .row {
  display: flex;
  flex-wrap: wrap;
}
